<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WeiboCellNameColor</key>
	<string>0,0,0</string>
	<key>HeaderButtonTitleFontSize</key>
	<integer>12</integer>
	<key>WeiboCellNameSelectedColor</key>
	<string>0,0,0</string>
	<key>WeiboCellTextColor</key>
	<string>55,55,55</string>
	<key>WeiboCellTextSelectedColor</key>
	<string>0,0,0</string>
	<key>WeiboFirstCellTextSelectedColor</key>
	<string>0,0,0</string>
	<key>WeiboCellRtTextColor</key>
	<string>55,55,55</string>
	<key>WeiboCellRtTextSelectedColor</key>
	<string>115,117,127</string>
	<key>WeiboCellDateColor</key>
	<string>101,101,101</string>
	<key>WeiboCellDateSelectedColor</key>
	<string>101,101,101</string>
	<key>WeiboCellDateHLColor</key>
	<string>255,156,0</string>
	<key>WeiboCellSourceColor</key>
	<string>101,101,101</string>
	<key>WeiboCellSourceSelectedColor</key>
	<string>101,101,101</string>
	<key>WeiboCellCountColor</key>
	<string>255,255,255</string>
	<key>WeiboCellCountSelectedColor</key>
	<string>219,219,219</string>
	<key>WeiboHeaderViewLabelColor</key>
	<string>87,108,137</string>
	<key>NewWeiboCountColor</key>
	<string>43,53,62</string>
	<key>NewWeiboCountCommentColor</key>
	<string>108,130,144</string>
	<key>HeadButtonColor</key>
	<string>146,146,146</string>
	<key>HeadButtonSelectedColor</key>
	<string>80,125,175</string>
	<key>UserInfoCellUserNameColor</key>
	<string>0,0,0</string>
	<key>UserInfoCellUserLocationColor</key>
	<string>0,0,0</string>
	<key>UserInfoCellUserFollowersColor</key>
	<string>0,0,0</string>
	<key>UserInfoTabColor</key>
	<string>140,166,184</string>
	<key>UserInfoTabSelectedColor</key>
	<string>140,166,184</string>
	<key>UserInfoTabCountColor</key>
	<string>0,0,0</string>
	<key>UserInfoTabCountSelectedColor</key>
	<string>0,0,0</string>
	<key>UserInfoEditLabelColor</key>
	<string>0,0,0</string>
	<key>UserInfoLocationLabelColor</key>
	<string>118.32,118.32,118.32</string>
	<key>UserInfoHeaderButtonAbleTouchedColor</key>
	<string>117,131,146</string>
	<key>UserInfoHeaderButtonDisableTouchedColor</key>
	<string>180,180,180</string>
	<key>UserGroupBackGroundColor</key>
	<string>255,255,255</string>
	<key>BaseBackGroundColor</key>
	<string>244,244,244</string>
	<key>BaseBackColor</key>
	<string>255,255,255</string>
	<key>BaseTextColor</key>
	<string>0,0,0</string>
	<key>BaseCellColor</key>
	<string>255,255,255</string>
	<key>WordCountLabelTextColor</key>
	<string>117,131,146</string>
	<key>NewWeiboBtnTextColor</key>
	<string>255,255,255</string>
	<key>NewWeiboLabelTextColor</key>
	<string>55,55,55</string>
	<key>PmThirdViewTitleColor</key>
	<string>112,112,112</string>
	<key>PmThirdViewSendBtnColor</key>
	<string>87,108,41</string>
	<key>PmThirdViewUserColor</key>
	<string>0,0,0</string>
	<key>PmThirdViewMineColor</key>
	<string>0,0,0</string>
	<key>PmThirdViewSelectColor</key>
	<string>0,0,0</string>
	<key>PmThirdViewErrorColor</key>
	<string>131,28,23</string>
	<key>PmWordCountLabelColor</key>
	<string>117,131,146</string>
	<key>WeiboTextColor</key>
	<string>0,0,0</string>
	<key>WeiboContentTitleColor</key>
	<string>112,112,112</string>
	<key>UserInfoCellTitleColor</key>
	<string>0,0,0</string>
	<key>WeiboContentForwardCountColor</key>
	<string>169,169,169</string>
	<key>WeiboContentForwardCountSelectedColor</key>
	<string>86,97,120</string>
	<key>WeiboContentButtonColor</key>
	<string>117,131,146</string>
	<key>WeiboContentReportViewBackGroundColor</key>
	<string>255,255,255</string>
	<key>WeiboContentReportViewTextColor</key>
	<string>0,0,0</string>
	<key>WeiboContentTableLineColor</key>
	<string>217,217,217</string>
	<key>AudioPlayerTitleLabelColor</key>
	<string>102,102,102</string>
	<key>ThirdViewCloseLabelColor</key>
	<string>46.5,66.5,94.5</string>
	<key>UserInfoUserNameHeaderColor</key>
	<string>112,112,112</string>
	<key>MyUserInfoTabColor</key>
	<string>140,166,184</string>
	<key>UserInfoRemarkNameColor</key>
	<string>117,131,146</string>
	<key>UserInfoButtonLabelColor</key>
	<string>117,131,146</string>
	<key>AtContainerTabColor</key>
	<string>0,0,0</string>
	<key>iOS7ButtonColor</key>
	<string>0,0,0</string>
	<key>AtContainerTabSelectedColor</key>
	<string>0,0,0</string>
	<key>BadgeLabelColor</key>
	<string>255,255,255</string>
	<key>SearchTextFieldColor</key>
	<string>0,0,0</string>
	<key>WeiboStatusBarLabelColor</key>
	<string>84,129,172</string>
	<key>GuangChangCenterCellNameLabelColor</key>
	<string>241,241,241</string>
	<key>GuangChangCenterCellDetailLabelColor</key>
	<string>153,153,153</string>
	<key>UserGuideFollowButtonWhiteColor</key>
	<string>58,69,89</string>
	<key>UserGuideFollowButtonGreenColor</key>
	<string>45,55,22</string>
	<key>UserGuideFollowbuttonBlackColor</key>
	<string>0,0,0</string>
	<key>UserGuideHotTopicButtonLabelColor</key>
	<string>0,0,0</string>
	<key>SettingBackGroundColor</key>
	<string>211.65,216.75,221.85</string>
	<key>SettingAboutLabelColor</key>
	<string>102,102,102</string>
	<key>SettingSectionHeaderLabelColor</key>
	<string>86.68,94.605,115.515</string>
	<key>SearchResultLabelColor</key>
	<string>118.32,118.32,118.32</string>
	<key>WeiboTextHighlightColor</key>
	<string>84,95,118</string>
	<key>WeiboTextHeldColor</key>
	<string>144,122,165</string>
	<key>AppThemeColor</key>
	<string>235,235,235</string>
	<key>ComposeboxViewLineColor</key>
	<string>167,167,167</string>
	<key>ComposeboxviewLabelColor</key>
	<string>167,167,167</string>
	<key>ComposeboxviewTextColor</key>
	<string>55,55,55</string>
	<key>ComposeboxviewTextPlaceholderColor</key>
	<string>167,167,167</string>
	<key>CardTitleColor</key>
	<string>65,115,175</string>
	<key>MembershipNameTextColor</key>
	<string>244,98,0</string>
	<key>MainContentTextColor</key>
	<string>51,51,51</string>
	<key>MainContentRetweetTextColor</key>
	<string>93,93,93</string>
	<key>MainContentButtonTextColor</key>
	<string>146,146,146</string>
	<key>MainContentButtonDisabledTextColor</key>
	<string>146,146,146,0.4</string>
	<key>MainContentSubtitleTextColor</key>
	<string>93,93,93</string>
	<key>MainContentSplitLineColor</key>
	<string>218,218,218</string>
	<key>MainFeedBackgroundColor</key>
	<string>230,230,230</string>
	<key>MainFeedRetweetBackgroundColor</key>
	<string>248,248,248</string>
	<key>MainFeedCardBackgroundColor</key>
	<string>255,255,255</string>
	<key>MainFeedSelectedBackgroundColor</key>
	<string>240,240,240</string>
	<key>MainLinkTextColor</key>
	<string>80,125,175</string>
	<key>MainLinkDisabledTextColor</key>
	<string>80,125,175,0.4</string>
	<key>MainFocusTextColor</key>
	<string>255,165,0</string>
	<key>MainActionSheetBackgroundColor</key>
	<string>248,248,248</string>
	<key>MainActionSheetBackgroundHighlightedColor</key>
	<string>240,240,240</string>
	<key>MainPromptTextColor</key>
	<string>244,136,0</string>
	<key>MainHighlightTextColor</key>
	<string>225,65,35</string>
	<key>MainHighlightDisabledTextColor</key>
	<string>225,65,35,0.4</string>
	<key>MainAssistantTextColor</key>
	<string>50,150,60</string>
	<key>MainAvatarStrokeColor</key>
	<string>0,0,0,0.05</string>
	<key>MainButtonTextColorForDeepColorButton</key>
	<string>255,255,255</string>
	<key>MainButtonHighlightedTextColorForDeepColorButton</key>
	<string>238,238,238</string>
	<key>MainButtonTextColorForLightColorButton</key>
	<string>93,93,93</string>
	<key>MainButtonShadowTextColorForLightColorButton</key>
	<string>255,255,255,0.75</string>
	<key>MainButtonShadowDisabledTextColorForLightColorButton</key>
	<string>255,255,255,0.3</string>
	<key>MainButtonShadowTextColorForDeepColorButton</key>
	<string>0,0,0,0.35</string>
	<key>MainButtonShadowDisabledTextColorForDeepColorButton</key>
	<string>0,0,0,0.15</string>
	<key>NavigationBarTitleColor</key>
	<string>82,82,82</string>
	<key>NavigationBarButtonTextColor</key>
	<string>82,82,82</string>
	<key>NavigationBarButtonDisabledTextColor</key>
	<string>82,82,82,0.4</string>
	<key>NavigationBarPopoverTitleColor</key>
	<string>230,230,230</string>
	<key>TabBarTitleColor</key>
	<string>175,175,175</string>
	<key>TabBarSelectedTitleColor</key>
	<string>175,175,175</string>
	<key>TabBarBadgeTextColor</key>
	<string>255,255,255</string>
	<key>TimelineClickableTextHighlightedBackgroundColor</key>
	<string>190,223,255</string>
	<key>ToolbarButtonTextColor</key>
	<string>219,219,219</string>
	<key>TableViewHeaderTextColor</key>
	<string>124,124,124</string>
	<key>TableViewFooterTextColor</key>
	<string>124,124,124</string>
	<key>TableViewCellDetailTextColor</key>
	<string>61,115,175</string>
	<key>TableViewCellSelectedBackgroundGradientColorTop</key>
	<string>240,240,240</string>
	<key>TableViewCellSelectedBackgroundGradientColorBottom</key>
	<string>240,240,240</string>
	<key>HomePopupTextColor</key>
	<string>244,136,0</string>
	<key>HomePopupCountTextColor</key>
	<string>244,136,0</string>
	<key>HomePopupSendFailedTextColor</key>
	<string>174,127,69</string>
	<key>GroupNameTextColor</key>
	<string>255,255,255</string>
	<key>GroupNameSelectedTextColor</key>
	<string>255,165,0</string>
	<key>GroupEditingPromptTextColor</key>
	<string>255,255,255</string>
	<key>GroupSectionHeaderTextColor</key>
	<string>51,51,51</string>
	<key>GroupSectionHeaderShadowColor</key>
	<string>114,114,114</string>
	<key>GroupSectionHeaderBackgroundColor</key>
	<string>93,93,93</string>
	<key>GroupAlternativeTextColor</key>
	<string>181,181,181</string>
	<key>NavigationBarButtonTitleColor</key>
	<string>255,255,255</string>
	<key>NavigationBarSubtitleColor</key>
	<string>82,82,82</string>
	<key>MainBackgroundColor</key>
	<string>225,225,225</string>
	<key>MainTextColor</key>
	<string>0,0,0</string>
	<key>MainHighlightedTextColor</key>
	<string>225,65,35</string>
	<key>MainDisabledTextColor</key>
	<string>255,255,255,0.3</string>
	<key>AlternativeBackgroundColor</key>
	<string>235,242,252</string>
	<key>MainPlaceholderTextColor</key>
	<string>184,184,184</string>
	<key>MainWarningTextColor</key>
	<string>111,0,0</string>
	<key>MainButtonTitleColor</key>
	<string>255,255,255</string>
	<key>MainShadowTextColor</key>
	<string>0,0,0,0.3</string>
	<key>TimelineClickableTextColor</key>
	<string>81,108,151</string>
	<key>TimelineMiniCardTextShadowColor</key>
	<string>255,255,255,0.8</string>
	<key>TableViewSeparatorColor</key>
	<string>226,226,226</string>
	<key>TableViewCellBackgroundColor</key>
	<string>255,255,255</string>
	<key>TableViewHeaderBackgroundColor</key>
	<string>248,248,248,0.4</string>
	<key>TableViewCellTextColor</key>
	<string>0,0,0</string>
	<key>TableViewCellSubtitleTextColor</key>
	<string>128,128,128</string>
	<key>TableViewCellSectionHeaderTextColor</key>
	<string>78,87,98</string>
	<key>StatusScreenNameTextColor</key>
	<string>20,20,20</string>
	<key>StatusMembershipScreenNameTextColor</key>
	<string>255,60,21</string>
	<key>StatusTextColor</key>
	<string>0,0,0</string>
	<key>StatusRetweetTextColor</key>
	<string>0,0,0</string>
	<key>StatusUnreadTimeTextColor</key>
	<string>234,129,0</string>
	<key>StatusReadTimeTextColor</key>
	<string>128,128,128</string>
	<key>StatusSourceTextColor</key>
	<string>128,128,128</string>
	<key>StatusCountTextColor</key>
	<string>132,153,177</string>
	<key>StatusSelectedBackgroundGradientColorTop</key>
	<string>223,225,228</string>
	<key>StatusSelectedBackgroundGradientColorBottom</key>
	<string>235,237,240</string>
	<key>StatusSelectedTextColor</key>
	<string>0,0,0</string>
	<key>StatusStateTextColor</key>
	<string>90,90,90</string>
	<key>StatusTypeMemberStickyColor</key>
	<string>231,34,34</string>
	<key>StatusTypeGroupVisibleColor</key>
	<string>255,129,0</string>
	<key>StatusTypeAdvertisementColor</key>
	<string>18,135,217</string>
	<key>StatusTypeMeYouColor</key>
	<string>255,81,20</string>
	<key>StatusTypePrivateColor</key>
	<string>103,90,139</string>
	<key>UserInfoScreenNameTextColor</key>
	<string>0,0,0</string>
	<key>UserInfoMainTextColor</key>
	<string>53,53,53</string>
	<key>UserInfoBlankRemarkTextColor</key>
	<string>47,86,144</string>
	<key>UserInfoDetailTextColor</key>
	<string>47,86,144</string>
	<key>UserInfoCountTextColor</key>
	<string>47,86,144</string>
	<key>UserInfoMemberTextColor</key>
	<string>255,255,136</string>
	<key>UserInfoVerifiedEnterpriseTextColor</key>
	<string>0,74,221</string>
	<key>UserInfoVerifiedCelebrityTextColor</key>
	<string>227,65,1</string>
	<key>UserInfoApplistItemNumberColor</key>
	<string>78,87,98</string>
	<key>UserInfoApplistItemTextColor</key>
	<string>103,124,142</string>
	<key>UserSkinColorKeyRelationshipButtonTitleColor</key>
	<string>78,87,98</string>
	<key>UserProfileHeadViewBackgroundColor</key>
	<string>235,237,240</string>
	<key>UserProfileScreenNameLabelTextColor</key>
	<string>255,255,255</string>
	<key>UserProfileScreenNameLabelTextShadowColor</key>
	<string>0,0,0,0.3</string>
	<key>UserProfileSpecialVerificationLabelTextColor</key>
	<string>255,255,255</string>
	<key>UserProfileGroupChooserConfirmTextAscentColor</key>
	<string>52,98,59</string>
	<key>DiscoverPageControlDotColor</key>
	<string>170,170,170</string>
	<key>DiscoverPageControlCurrentDotColor</key>
	<string>0,0,0</string>
	<key>DiscoverPageCardBackgroundColor</key>
	<string>242,242,242</string>
	<key>SettingsBadgeTextColor</key>
	<string>255,255,255</string>
	<key>PopoverTextColor</key>
	<string>255,255,255</string>
	<key>PopoverTitleColor</key>
	<string>153,166,181</string>
	<key>PopoverSelectedTextColor</key>
	<string>122,194,255</string>
	<key>MessageTimeTextColor</key>
	<string>255,255,255</string>
	<key>MessageTimeTextShadowColor</key>
	<string>0,0,0,0.1</string>
	<key>MessageRecordButtonTextColor</key>
	<string>51,51,51</string>
	<key>MessageRecordButtonTextShadowColor</key>
	<string>255,255,255,0.2</string>
	<key>MessageRecordButtonHighlightedTextColor</key>
	<string>219,219,219</string>
	<key>MessageRecordButtonHighlightedTextShadowColor</key>
	<string>0,0,0,0.2</string>
	<key>MessageWordsCountTextColor</key>
	<string>95,95,95</string>
	<key>MessageInputTextViewTextColor</key>
	<string>0,0,0</string>
	<key>MessageInputTextViewBackgroundColor</key>
	<string>255,255,255</string>
	<key>MessageWarningTextLinkColor</key>
	<string>20,82,150</string>
	<key>MessageConversationBoxTextLinkColor</key>
	<string>20,82,150</string>
	<key>RecordingOverlayStateTextColor</key>
	<string>218,218,218</string>
	<key>RecordingOverlayTipsTextColor</key>
	<string>132,132,132</string>
	<key>ImageBorderColor</key>
	<string>255,255,255</string>
	<key>ImageMaskColor</key>
	<string>0,0,0,0</string>
	<key>SearchBarScopeBarTextColor</key>
	<string>63,92,132</string>
	<key>SearchBarScopeBarSelectedTextColor</key>
	<string>255,255,255</string>
	<key>SearchBarFilterButtonTextColor</key>
	<string>160,160,160</string>
	<key>FindFriendsMainTextColor</key>
	<string>50,50,50</string>
	<key>FindFriendsAlternativeTextColor</key>
	<string>156,156,156</string>
	<key>StatusDetailTabTextColor</key>
	<string>164,164,164</string>
	<key>StatusDetailTabSelectedTextColor</key>
	<string>78,87,98</string>
	<key>FriendsMeCategoryTextColor</key>
	<string>103,124,142</string>
	<key>FriendsMeCountTextColor</key>
	<string>78,87,98</string>
	<key>PageInfoTableViewCellTitleLabelTextColor</key>
	<string>133,144,158</string>
	<key>PageInfoTableViewBackgroundColor</key>
	<string>248,248,248</string>
	<key>PageInfoTableViewCellSelectedBackgroundGradientColorTop</key>
	<string>223,225,228</string>
	<key>PageInfoTableViewCellSelectedBackgroundGradientColorBottom</key>
	<string>235,237,240</string>
	<key>PageInputCardViewTextColor</key>
	<string>50,50,50</string>
	<key>PageInfoPRLMPromptTextShadowColor</key>
	<string>0,0,0,0.3</string>
	<key>PageInfoPRLMPromptTextColor</key>
	<string>255,255,255</string>
	<key>PageInfoTableViewCellDescriptionLabelTextColor</key>
	<string>100,100,100</string>
	<key>PageImageTextCardViewButtonTextColor</key>
	<string>255,120,0</string>
	<key>WebViewProgressBarFillColor</key>
	<string>77,144,254</string>
	<key>ComposeMainTextColor</key>
	<string>101,119,135</string>
	<key>ComposeAlternativeTextColor</key>
	<string>172,179,184</string>
	<key>ComposeMeyouTextColor</key>
	<string>241,75,61</string>
	<key>EmptyTextShadowColor</key>
	<string>255,255,255,0.8</string>
	<key>EmptyTipAddMeyouTextColor</key>
	<string>255,255,255</string>
	<key>SkinViewButtonTextColor</key>
	<string>255,255,255</string>
	<key>SkinViewButtonTextShadowColor</key>
	<string>0,0,0,0.3</string>
	<key>SkinViewAddSkinTextColor</key>
	<string>193,193,193</string>
	<key>SkinViewTitleTextColor</key>
	<string>110,110,110</string>
	<key>SkinViewAbandonedTextColor</key>
	<string>255,255,255</string>
	<key>SkinViewButtonTextLightColor</key>
	<string>255,255,255</string>
	<key>SkinViewButtonTextDarkColor</key>
	<string>78,87,98</string>
	<key>LoginViewTextFieldTitleTextColor</key>
	<string>72,72,72</string>
	<key>LoginViewTextFieldDetailTextColor</key>
	<string>160,160,160</string>
	<key>LoginViewButtonTextColor</key>
	<string>255,255,255</string>
	<key>LoginViewButtonTextShadowColor</key>
	<string>0,0,0,0.3</string>
	<key>LoginViewAbroadTextColor</key>
	<string>136,136,136</string>
	<key>LoginViewTextShadowColor</key>
	<string>255,255,255</string>
	<key>LoginViewRegisterTextColor</key>
	<string>65,107,158</string>
	<key>LoginViewBackgroundColor</key>
	<string>248,248,248</string>
	<key>LoginViewRandomTextColor</key>
	<string>128,128,128</string>
	<key>LoginViewAccountListSelectedColor</key>
	<string>244,244,244</string>
	<key>LoginViewAccountListSeparatorColor</key>
	<string>206,206,206</string>
	<key>PhotoLibraryOverlayColor</key>
	<string>255,255,255,0.6</string>
	<key>PhotoLibraryMainBackgroundColor</key>
	<string>248,248,248</string>
	<key>PhotoLibraryCancelButtonTitleColor</key>
	<string>255,255,255,0.7</string>
	<key>DraftErrorTextColor</key>
	<string>155,0,0</string>
	<key>PhotoLibraryCancelButtonTitleShadowColor</key>
	<string>0,0,0,0.5</string>
	<key>PhotoLibraryFlashButtonTitleColor</key>
	<string>0,0,0</string>
	<key>AccountManageLoginButtonTextColor</key>
	<string>255,255,255</string>
	<key>AccountManageRegisterButtonTextColor</key>
	<string>65,107,158</string>
	<key>ContentImageProgressBackgroundColor</key>
	<string>218,218,218</string>
	<key>ContentImageProgressTrackColor</key>
	<string>255,255,255</string>
	<key>MessageEmptyViewTextColor</key>
	<string>193,193,193</string>
	<key>MessageEmptyViewTextShadowColor</key>
	<string>250,250,250</string>
	<key>EmptyViewTextColor</key>
	<string>189,189,189</string>
	<key>EmptyViewTextShadowColor</key>
	<string>255,255,255</string>
	<key>TabBarShowsTitle</key>
	<true/>
	<key>TabBarAnimatesSlider</key>
	<false/>
	<key>TabBarShowsSlider</key>
	<true/>
	<key>TabBarShowsTouchWhenHighlighted</key>
	<false/>
	<key>ToolbarShowsTitle</key>
	<true/>
	<key>ImageShowsMask</key>
	<false/>
	<key>ActionSheetStyle</key>
	<integer>0</integer>
	<key>HomeShowsBackgroundImageWhenPullRefreshing</key>
	<false/>
	<key>TimelineEnablesCustomBackground</key>
	<true/>
	<key>TimelineType</key>
	<integer>0</integer>
	<key>isvip</key>
	<integer>0</integer>
	<key>MusicFeedBackgroundColor</key>
	<string>230,230,230</string>
	<key>MusicContentButtonTextColor</key>
	<string>146,146,146</string>
	<key>MusicContentTextColor</key>
	<string>51,51,51</string>
	<key>MusicButtonShadowTextColorForLightColorButton</key>
	<string>255,255,255</string>
	<key>MusicButtonTextColorForLightColorButton</key>
	<string>93,93,93</string>
	<key>MusicNavigationBarTitleColor</key>
	<string>82,82,82</string>
	<key>3rdTopBarTintColor</key>
	<string>255,255,255</string>
	<key>iOS7</key>
	<dict>
		<key>NewWeiboBtnTextColor</key>
		<string>244, 136, 0</string>
		<key>HeadButtonSelectedColor</key>
		<string>255, 165, 0</string>
		<key>UserInfoEditLabelColor</key>
		<string>255, 165, 0</string>
		<key>iOS7ButtonColor</key>
		<string>255, 165, 0</string>
		<key>HeaderButtonTitleFontSize</key>
		<integer>20</integer>
		<key>NewWeiboCountCommentColor</key>
		<string>255, 165, 0</string>
		<key>NewWeiboCountColor</key>
		<string>255, 165, 0</string>
		<key>PopoverBackgroundColor</key>
		<string>255,255,255</string>
	</dict>
</dict>
</plist>
